<%= Kramdown::Document.new("## Wikinimous").to_html.html_safe %>

<p><%= link_to "New Article", new_article_path %></p>
<ul>
  <% @articles.each do |article| %>
    <blockquote class="block">
     <h3> <%= kramdown(article.title) %> </h3>
     <p> <%= article.content %> </p>
    <%= link_to "Details", article_path(article) %>
    <%= link_to "Edit", edit_article_path(article) %>
    <%= link_to "Delete", article_path(article), method: :delete, data: { confirm: "Are you sure?" }%>
    </blockquote>
  <% end %>
</ul>


